back-end/src/main/java/webservices/WebInt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WebIntService" targetNamespace="http://frenchchichWS/WS"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://frenchchichWS/WS"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:tns="http://frenchchichWS/WS" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="unqualified" targetNamespace="http://frenchchichWS/WS" version="1.0">

            <xs:element name="getUsers" type="tns:getUsers"/>

            <xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

            <xs:complexType name="getUsers">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="getUsersResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="users" type="tns:user"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="user">
                <xs:sequence>
                    <xs:element minOccurs="0" name="firstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="lastName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getUsersResponse">
        <wsdl:part name="parameters" element="tns:getUsersResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUsers">
        <wsdl:part name="parameters" element="tns:getUsers">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WebInt">
        <wsdl:operation name="getUsers">
            <wsdl:input name="getUsers" message="tns:getUsers">
            </wsdl:input>
            <wsdl:output name="getUsersResponse" message="tns:getUsersResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebIntServiceSoapBinding" type="tns:WebInt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUsers">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getUsers">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getUsersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebIntService">
        <wsdl:port name="WebIntPort" binding="tns:WebIntServiceSoapBinding">
            <soap:address location="http://localhost:8080/ff-backend/webservices/frenchchicWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
